
body{
background-color: darkgray;
}
.first{
    font-size: 30px;
    height: 100px;
    width: 50%;
    background-color: rgb(111, 128, 197);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: width 2s;
    transition: height 2s;
}
.first p{
    margin: 30px;
}
.first:hover{
    width: 100%;
    height: 200px;
    text-align: center;
    
}
.first:first-child{
    color: white;
}
.first:last-child{
    display: flex;
}
.links a::before{
    content: "✅"
}
.links a{
    font-weight: 900;
    text-decoration: none;
    color: navy;
}
.link1:link{
    color :red
}
.link2:visited{
    color:indigo ;
}
.links{
    font-size: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.link3:focus{
color: sienna;
}
.links a::after{
    content: "→";
}
.not p:not(.colors) { color:green; }
.not :not(p) { color: red; }
.not{
    font-size: 50px;
    font-weight: 900;
    margin-top: 50px;
    text-align: center;
}
a:active {
    color: forestgreen;
  }
  li:first-child {
    background-color: red;
  }
  li:last-child {
    background-color: lime;
  }
  ul{
      display: flex;
      justify-content: center;
  }
  li{
      font-size: 40px;
      display: flex;
      justify-content: center;
      width: 40%;
  }
  li:only-child{
      background-color:gold;
  }
h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
p{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}
.types p:first-of-type{
    color: green;
}
.types p:last-of-type{
    color: red;
}
